/* Độ ưu tiên trong CSS
1. Internal, External
2. Inline (1000)
3. #id (100)
4. .class (10)
5. tag (1)
6. Equal specificity?
7. Universal selector and inherited (0)
    Universal: 
        * {
            color:
        }

    Inherited:
        html {
            color:
        } */


/* CSS units - Đơn vị trong CSS
1. Absolute units: đơn vị tuyệt đối
        ・px
        ・pt
        ・cm
        ・mm
        ・inch
        ・pc
2. Relative units: đơn vị tương đối
        ・%: tính theo thẻ mà chứa nó
        ・rem: tính theo thẻ html
        ・em: tính theo thẻ gần nhất có cùng attribute (ít dùng vì sẽ khó kiểm soát)
        ・vw (view-width): tính theo kích thước của trình duyệt
        ・vh (view-height): tính theo kích thước của trình duyệt
        
 */