/* Global variable */
:root {
    --text-color: green;
}

h1 {
    color: var(--text-color);
}

h2 {
    color: var(--text-color);
}

li {
    /* Local variable */
    --text-color: yellow;
    color:var(--text-color)
}